@use '../helpers/stylesHelpers' as helper;

.detailsContainer {
  width: 100%;

  .positionAndCompany {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .position {
      font-size: 1.2rem;
      font-weight: bold;
      word-spacing: 2px;
      margin: 0.5rem 0;
    }

    .company {
      @include helper.stylesforDetails;

      flex: 40%;
    }
  }

  .positionDescription {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .tags {
      display: flex;

      .tag {
        background-color: rgba(241, 241, 241, 0.767);
        font-size: 0.7rem;
        margin: 0.2rem;
        padding: 0.4rem;
        border-radius: 2px;
        color: rgba(78, 78, 78, 0.836);
        display: flex;
        align-items: center;
      }

      :first-child {
        margin-left: 0;
      }
    }

    .positionDetails {
      display: flex;
      justify-content: flex-end;

      .salary,
      .date,
      .location {
        @include helper.stylesforDetails;

        svg {
          margin: 0 0 0 2px;
        }
      }

      .date {
        svg {
          margin: 0 2px 0 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .detailsContainer {
    display: flex;
    flex-wrap: wrap;

    .positionDescription {
      .tags {
        display: none;
      }

      .positionDetails .date {
        display: none;
      }

      .positionDetails .salary {
        display: none;
      }
    }
  }
}
