body {
    font-family: Nunito,sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #7d93b2;
    background-color: #fafcff;
    font-weight: 200;
}

h2, h3 {
    font-weight: 200;
    color: #4c6280;
    margin: 0;
}

h2 {
    font-size: 48px;
    line-height: 72px;
}

